* {
    margin: 0;
    padding: 0;
}

:root {
    --light-color: hsl(0, 0%, 100%);
    --dark-color: hsl(216, 12%, 8%);
    --accent-color: hsl(340, 100%, 83%);
    --title-font: 'Montserrat', sans-serif; 
    --mono-font: 'Roboto Mono', monospace;  
    font-size: calc(14px + 0.6vw);
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: var(--mono-font);
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin: 0 10px;
    transition: 200ms;
}

a:hover {
    filter: drop-shadow(0 0 0.25rem var(--accent-color));
}

a > img {
    width: 2rem;
    height: 2rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    max-width: 400px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.title {
    font-size: min(calc(30px + 3.4vw),70px);
    font-family: var(--title-font);
    color: var(--accent-color);
    margin: 20px 0;
}

.links {
    margin: 40px 0;
}

